{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container-fluid bg-light">
  <div class="row">
    {% if success %}
    <div class="alert alert-success" role="alert">
      The new blog added successfully.
    </div>
    {% else %}
    <div class="row justify-content-center">
      <div class="col-8 my-5">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <h1 class="display-6 fw-bold">
              New blog entry
              <span class="float-end"
                ><i class="fa-square-rss fa-solid fa-lg"></i
              ></span>
            </h1>
          </div>
          <div class="card-body">
            <form
              method="POST"
              action="{% url 'add_blog' %}"
              enctype="multipart/form-data"
            >
              {% csrf_token %}

                {% for field in  new_blog_form %}
                
                <!-- blog title -->
                <div class="form-group m-3">
                  <label class="form-label">{{ field.name|title }}</label>
                 <span> {{ field }}</span>
                </div>
                {% endfor %}

                  <button
                    type="submit"
                    class="btn btn-outline-dark btn-lg w-100 my-4"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<script>
  var form_fields = document.getElementsByTagName("input");

  for (var field in form_fields) {
    form_fields[field].className.add("form-control")
  }
</script>
{% endblock %}
