{% extends 'base.html' %} {% load static %} {% block body %}

<main id="top" class="container">
  <h1 class="display-1 text-bold fw-bolder text-center mb-4">Blogs</h1>
  <div class="row mb-5">
    {% for blog in blogs %}
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <a
            href="{% url 'blog_detail' slug=blog.slug %}"
            class="text-black h4 underline mb-3"
            >{{ blog.title }}</a
          >
          <p class="card-text mb-3">{{ blog.summary }}</p>
          <a
            href="{% url 'blog_detail' slug=blog.slug %}"
            class="underline text-black"
            >Continue reading</a
          >
          <small class="my-1 text-muted footer"
            ><i class="fa-solid fa-clock"></i> {{ blog.pub_date|date:"jS F Y" }}</small
          >
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            style="object-fit: cover"
            preserveAspectRatio="xMidYMid slice"
            class="bd-placeholder-img"
            width="200"
            height="250"
            src="{{ blog.image.url }}"
            alt="{{ blog.name }}"
            width="200"
            height="250"
          />
        </div>
      </div>
    </div>
    {% endfor %}
</main>

{% endblock %}
