{% extends 'base.html' %} {% load static %} {% block body %}

<main id="top" class="container">
  <h1 class="display-1 text-bold fw-bolder text-center mb-4">Blogs</h1>
  <div class="text-center mb-5">
    <img
      style="height: 4rem; width: auto; object-fit: cover"
      src="{% static 'images/blog/wwwke-lukustore.png' %}"
      class="img-fluid"
    />
  </div>
  <div
    class="row row-col-2 justify-content-start align-items-center fadeInUp animate my-5"
  >
    {% for blog in blogs %}
    <div class="col-md-6 col-sm-12 mb-3">
      <div class="card">
        <img
          src="{{ blog.cover_image.url }}"
          style="height: 300px; width: 100%; object-fit: cover"
        />
        <div class="card-body">
          <a href="{{ blog.get_url }}" class="h5 unlink card-title"
            >{{ blog.title }}</a
          >
          <p class="card-text">{{ blog.summary|safe }}</p>
          <a href="{{ blog.get_url }}" class="unlink">Continue reading...</a>
          <small class="text-muted float-end">{{ blog.created_at|date }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
