{% extends 'base.html' %} {% load static %} {% block body %}
<!-- spectra Talks Start -->
<section class="container mt-3">
  <div class="row gy-5 justify-content-center align-items-center">
    <!-- spectra Talks Poster Start -->
    <article class="col-sm-12 col-md-6">
      <figure class="figure-card">
        <img
          src="{% static 'images/events/spectra_talks_flyer.jpg' %}"
          alt="Poster for spectra Talks with Luku Store.nl & WhoWhatWhereKE"
          class="img-fluid rounded shadow"
        />
        <figcaption style="font-size: 2rem">
          Happening on <br />
          Friday 5th January, 2024
        </figcaption>
      </figure>
    </article>
    <!-- spectra Talks Poster End -->

    <!-- Form Start -->
    <article class="col-sm-12 col-md-6">
      <form
        style="border-radius: 8px"
        class="p-5 shadow border"
        method="POST"
        action="{% url 'spectra_talks_signup' %}"
      >
        {% csrf_token %}
        <div class="my-4 row">
          <h2 class="text-dark fw-bold">
            spectra Talks with Luku Store.nl & WhoWhatWhereKE
          </h2>
          <p class="text-muted mb-4">Remaining Slots: {{ remaining_slots }}</p>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-outline">
              <label class="form-label mb-2" for="form3Example1"
                >First name</label
              >
              <input
                type="text"
                id="form3Example1"
                name="first_name"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-outline">
              <label class="form-label mb-2" for="form3Example2"
                >Last name</label
              >
              <input
                type="text"
                id="form3Example2"
                name="last_name"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>

        <!-- Email input -->
        <div class="form-outline my-4">
          <label class="form-label mb-2" for="form3Example3"
            >Email address</label
          >
          <input
            type="email"
            id="form3Example3"
            name="email"
            class="form-control"
            required
          />
        </div>

        <!-- Submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-dark w-50 btn-lg btn-block mb-5">
            Register
          </button>
        </div>

        <div class="form-check mb-4">
          <input
            class="form-check-input"
            type="checkbox"
            value="True"
            id="flexCheckChecked"
            name="consent"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            I want to stay informed about future events, exclusive offers, and
            receive inspiration and style tips that align with my preferences.
          </label>
        </div>
      </form>
      <!-- Form End -->
    </article>
  </div>
  <article class="row mt-5">
    <div class="text-center">
      <iframe
        style="border-radius: 8px"
        class="shadow border"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1175.3763990871607!2d36.786183706642646!3d-1.2923235050424111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f112bdeb370d7%3A0x616dbdcaf5618b9f!2sUnseen%20Nairobi!5e0!3m2!1sen!2ske!4v1704120994028!5m2!1sen!2ske"
        style="border: 0"
        allowfullscreen=""
        height="300"
        width="800"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <a
      target="_blank"
      class="unlink h5 text-center mt-5 text-muted hover"
      href="https://maps.app.goo.gl/q1Z3Vy5dHQj9LtGy6"
      ><i class="fa-solid fa-location-crosshairs"></i> Click here for
      location</a
    >
  </article>
</section>
<!-- spectra Talks End -->

{% endblock %}
