{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container-fluid pb-5">
  <h1 class="text-center my-4">Update Product</h1>
  <div class="row">
    {% if success %}
    <section style="height: 30vh">
      <h1 class="text-center display-1 text-success">
        <i class="fa-solid fa-check fa-2xl"></i>
      </h1>
      <div class="text-center">
        <h6 class="my-4">The product updated successfully</h6>
        <a class="btn btn-outline-dark" href="{% url 'dashboard' %}"
          ><i class="fa-solid fa-reply"></i> Dashboard</a
        >
      </div>
    </section>
    {% else %}

    <div class="row justify-content-center align-items-start">
      <div class="col-sm-12 col-lg-6">
        <div class="row g-3 justify-content-center">
          {% for photo in photos %}
          <div class="col-sm-6 col-md-3">
            <img
              src="{{ photo.url }}"
              alt="{{ product.item }}'s Image"
              class="img-fluid rounded"
            />
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card shadow border p-3 mb-3">
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row mb-3">
                <div class="col-6 form-group">
                  <label class="mb-2">Select brand:</label>
                  {{ form.brand }}
                </div>
                <div class="col-6 form-group">
                  <label class="mb-2">Type:</label>
                  {{ form.type }}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-6 form-group">
                  <label class="mb-2">Name of item:</label>
                  {{ form.item }}
                </div>
                <div class="col-6 form-group">
                  <label class="mb-2">Target:</label>
                  {{ form.target }}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-3 form-group">
                  <label class="mb-2">Amount F:</label>
                  {{ form.amount_f }}
                </div>
                <div class="col-3 form-group">
                  <label class="mb-2">Amount T:</label>
                  {{ form.amount_t }}
                </div>
                <div class="col-3 form-group">
                  <label class="mb-2">Selling Price:</label>
                  {{ form.buying_price }}
                </div>
                <div class="col-3 form-group">
                  <label class="mb-2">Selling Price:</label>
                  {{ form.selling_price }}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-3 form-group">
                  {{ form.online }}
                  <label class="mb-2">Online</label>
                </div>
                <div class="col-3 form-group">
                  {{ form.priority }}
                  <label class="mb-2">Priority</label>
                </div>
                <div class="col-3 form-group">
                  {{ form.possible_best_seller }}
                  <label class="mb-2">Possible Best Seller</label>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col form-group">
                  <label class="mb-2">Total Cost:</label>
                  {{ form.total_cost }}
                </div>
                <div class="col form-group">
                  <label class="mb-2">Size:</label>
                  {{ form.size }}
                </div>
                <div class="col form-group">
                  <label class="mb-2">In Stock:</label>
                  {{ form.stock }}
                </div>
                <div class="col form-group">
                  <label class="mb-2">Rating:</label>
                  {{ form.rating }}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-6">
                  <label class="mb-2">Similar Product Codes:</label>
                  {{ form.similar_products_codes }}
                </div>
                <div class="col-6">
                  <label class="mb-2">Color:</label>
                  {{ form.color }}
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label class="mb-2">Product description:</label>
                  {{ form.description }}
                </div>
              </div>

              <div class="row mb-3">
                <label class="mb-2">Product thumbnail:</label>
                {{ form.thumbnail }}
              </div>

              <button type="submit" class="btn me-2 btn-dark">
                <i class="fa-solid fa-floppy-disk"></i> Save
              </button>
              <a href="{% url 'dashboard' %}" class="btn btn-outline-dark"
                ><i class="fa-solid fa-reply"></i> Back</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
