{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container-fluid pb-5 bg-light">
  <div class="row">
    <h1 class="text-center my-4">Add Stock Photo</h1>
    {% if success %}
    <div class="alert alert-success pb-5 text-center" role="alert">
      The stock was added successfully <i class="fa-solid fa-square-check"></i
      ><br /><br />
      <a href="{% url 'dashboard' %}" class="alert-link"
        ><i class="fa-solid fa-reply"></i> Back To Dashboard.</a
      >
    </div>
    {% endif %}

    <div class="row justify-content-center align-items-start">
      <div class="col-lg-8 col-sm-10">
        <div class="card shadow border-0 p-3 mb-3">
          <div class="card-body">
            <form
              id="stockForm"
              method="POST"
              enctype="multipart/form-data"
              action=""
            >
              {% csrf_token %}

              <div class="row mb-3">
                <div class="col-6 form-group">
                  <label class="mb-2">Name of item:</label>
                  <input
                    required
                    name="name"
                    type="text"
                    placeholder="Name of product"
                    class="form-control"
                  />
                </div>
                <div class="col-6 form-group">
                  <label>Select a brand</label>
                  <select name="brand" class="form-control">
                    <option value="none">Select a brand...</option>

                    {% for brand in brands %}
                    <option value="{{ brand.slug }}">{{ brand.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row form-group mb-3">
                <div class="col-6 form-group">
                  <label class="mb-2">Product code:</label>
                  <input
                    required
                    name="product_code"
                    type="text"
                    placeholder="Product code"
                    class="form-control"
                  />
                </div>
                <div class="col-6">
                  <label class="mb-2">Similar product codes:</label>
                  <input
                    required
                    name="similar_products_codes"
                    type="text"
                    placeholder="Similar product code"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row mb-3 border-bottom pb-3">
                <label class="mb-2">Upload images:</label>
                <input
                  name="images"
                  type="file"
                  multiple
                  class="form-control-file"
                />
              </div>

              <div class="text-center">
                <a
                  href="{% url 'dashboard' %}"
                  class="btn btn-lg btn-outline-dark"
                  ><i class="fa-solid fa-reply"></i> Back</a
                >
                <button type="submit" class="btn btn-lg me-2 btn-dark">
                  <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
