{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SS4YD6T3BW"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SS4YD6T3BW");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.lukustore.nl",
        "logo": "{% static 'images/lukustore-thumbnail.jpg' %}"
      }
    </script>
    <!-- Seo Tags Start -->
    <title>Luku Store.nl {{ title_tag }}</title>
    <meta property="og:title" content="{{ tag_title }}" />
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta
      property="og:image"
      content="{% static 'images/lukustore-thumbnail.jpg' %}"
    />
    <meta property="og:url" content="lukustore.nl" />
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Luku Store.nl" />
    <!-- Seo Tags End -->

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon-16x16.png' %}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>

    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- END OF FONT AWESOME -->

    <!-- MAIN FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- END OF MAIN FONT -->

    <!-- MAIN CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <!-- END OF MAIN CSS -->

    <!-- Animation css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/animation.css' %}"
    />
    <!-- Animation css -->

    <!-- Javascript Cart -->
    <script type="text/javascript">
      var user = "{{ request.user }}";

      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken("csrftoken");

      function getCookie(name) {
        // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");

        // Loop through the array elements
        for (var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
          if (name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
          }
        }

        // Return null if not found
        return null;
      }

      var cart = JSON.parse(getCookie("cart"));
      if (cart == undefined) {
        cart = {};
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
      }
    </script>
    <!-- End of Javascript Cart -->
  </head>
  <body id="top">
    <!-- NAVIGATION BAR STARTS HERE ----------------------------->
    <nav class="navbar sticky-top navbar-expand-sm mb-3 bg-white w-auto">
      <div class="container-fluid mx-3">
        <a class="navbar-brand" href="{% url 'index' %}"
          ><img
            src="{% static 'images/logo/lukustore.nl-logo.svg' %}"
            height="40"
        /></a>
        <span>
          <button
            class="navbar-toggler border-muted"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            id="navButton"
          >
            <a style="text-decoration: none" class="text-muted" href="#!">
              <i class="fa-solid fa-cart-shopping mx-2"></i>{{ cartItems }}
            </a>
            <span class="navbar-toggler-icon"></span>
          </button>
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <a
                id="nav-home"
                class="nav-link fw-bold text-dark"
                href="{% url 'index' %}"
                >Home</a
              >
            </li>
            <li class="nav-item fw-bold">
              <a
                id="nav-shop"
                class="nav-link fw-bold text-dark"
                href="{% url 'shop' %}"
                >Shop</a
              >
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a
                  class="dropdown-toggle nav-link fw-bold text-dark"
                  href="{% url 'blog_list' %}"
                  role="button"
                  id="dropdownBlogsLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Blogs
                </a>
                <ul
                  class="dropdown-menu dropdown px-3"
                  aria-labelledby="dropdownBlogsLink"
                >
                  <li class="border-bottom">
                    <a class="fw-bold underline" href="{% url 'blog_list' %}"
                      >All Blogs</a
                    >
                  </li>
                  {% for blog in blogs %}
                  <li class="border-bottom">
                    <a
                      class="fw-bold underline"
                      href="{% url 'blog_detail' slug=blog.slug %}"
                      >{{ blog.title }}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a
                  class="dropdown-toggle nav-link fw-bold text-dark"
                  href="{% url 'blog_list' %}"
                  role="button"
                  id="dropdownBrandsLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Brands
                </a>
                <ul
                  class="dropdown-menu dropdown px-3"
                  aria-labelledby="dropdownBrandsLink"
                >
                  <li class="border-bottom">
                    <a class="fw-bold underline" href="{% url 'brand_list'  %}"
                      >All Brands</a
                    >
                  </li>
                  {% for brand in brands %}
                  <li class="border-bottom">
                    <a
                      class="fw-bold underline"
                      href="{% url 'brand_detail' slug=brand.slug %}"
                      >{{ brand.name }}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                id="nav-about"
                class="nav-link fw-bold text-dark"
                href="{% url 'lukufam' %}"
                >About</a
              >
            </li>
            {% if request.user.is_authenticated and user.is_staff %}
            <li class="nav-item">
              <a
                id="nav-about"
                class="nav-link fw-bold text-dark"
                href="{% url 'add_blog' %}"
                >Add Blog</a
              >
              {% endif %}
            </li>
            {% if request.user.is_authenticated and user.is_superuser %}
            <li class="nav-item">
              <div class="dropdown">
                <a
                  class="dropdown-toggle nav-link fw-bold text-dark"
                  href="{% url 'blog_list' %}"
                  role="button"
                  id="dropdownBrandsLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Controls
                </a>
                <ul
                  class="dropdown-menu dropdown px-3"
                  aria-labelledby="dropdownBrandsLink"
                >
                  <li>
                    <a
                      class="fw-bold dropdown-item border-bottom underline"
                      href="/admin/"
                      >Admin</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'dashboard' %}"
                      >Dashboard</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}"
                      >Log Out</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://analytics.google.com/analytics/web/?authuser=3#/p415088185/reports/intelligenthome"
                      >Google Analytics</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'add_blog' %}"
                      >Add Blog</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            {% endif %}
          </ul>
          <div class="d-flex soci">
            <span>
              <a href="{% url 'cart' %}">
                <i class="fa-solid fa-cart-shopping">
                  <span class="cartItems">{{ cartItems }}</span></i
                >
              </a>
            </span>
            {% if user.is_authenticated %} {% if user.customer %}
            <div class="dropdown">
              <button
                style="background: none; border: none"
                class="dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {% if user.customer.profile_pic %}
                <img
                  style="
                    object-fit: cover;
                    height: 20px;
                    width: 20px;
                    border-radius: 25px;
                  "
                  src="{{ request.user.customer.profile_pic.url }}"
                />
                {% else %}
                <img
                  style="
                    object-fit: cover;
                    height: 20px;
                    width: 20px;
                    border-radius: 25px;
                  "
                  src="{{ user.customer.image.url }}"
                />
                {% endif %}
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'account' %}"
                    >Account</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'cart' %}">Cart</a>
                </li>
              </ul>
            </div>
            {% endif %} {% endif %} {% if user.is_authenticated %}
            <span class="hidden"></span>
            {% else %}
            <span>
              <a href="{% url 'register' %}">
                <i class="fa-solid fa-user"></i>
              </a>
            </span>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- End of navigation bar -->
    {% if messages %} {% for message in messages %}
    <div class="container p-0">
      <div
        id="alert-dark"
        class="alert alert-dark alert-dismissable fade show"
        role="alert"
      >
        <h6 class="text-center">
          {{ message }}
          <span
            ><button
              style="color: white"
              id="alert-close"
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            >
              X
            </button></span
          >
        </h6>
      </div>
    </div>
    {% endfor %} {% endif %} {% block body %} {% endblock %}

    <!-- FOOTER ----------------------------->
    <footer class="container-fluid pt-5 pb-2 px-5 text-white bg-black">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
          <a href="{% url 'lukufam' %}" class="text-white navbar-brand">
            <img
              style="filter: invert(100%); margin-bottom: 1.5rem"
              height="50"
              src="{% static 'images/logo/lukustore.nl-logo.svg' %}" />
            <br
          /></a>
          <p class="text-muted">
            Experience the vibrant culture of Kenya through our
            <strong>accessible</strong> and stylish clothing.
          </p>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-2 mb-3 align-content-center">
          <h5>Quick Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a
                href="{% url 'blog_detail' slug='ss23-luku-book' %}"
                class="nav-link p-0 text-muted"
                >Luku Book</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'lukufam' %}" class="nav-link p-0 text-muted"
                >About Us</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'music' %}" class="nav-link p-0 text-muted"
                >Music Mix</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'help' %}" class="nav-link p-0 text-muted"
                >Terms of Service</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-2 mb-3">
          <h5>Pages</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="{% url 'index' %}" class="nav-link p-0 text-muted"
                >Home</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'shop' %}" class="nav-link p-0 text-muted"
                >Shop</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'blog_list' %}" class="nav-link p-0 text-muted"
                >Blogs</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'account' %}" class="nav-link p-0 text-muted"
                >Account</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
          <form method="POST" action="{% url 'newsletter' %}">
            {% csrf_token %}
            <h5>Subscribe to our newsletter</h5>
            <p class="text-muted">
              Subscribe to recieve updates, access to exclusive deals, our
              newsletter and more.
            </p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <input
                type="email"
                name="email"
                id="newsletter1"
                placeholder="Email"
                aria-label="Email"
                type="email"
                class="form-control"
                placeholder="Email address"
                required
              />
              <button class="btn btn-outline-light" type="submit">
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="small text-center py-4 border-top">
        <a
          class="text-white underline me-5"
          id="footer-year"
          href="{% url 'lukufam' %}"
        ></a>
        <a class="text-white underline" href="https://www.4ourpixels.com"
          >Powered by Four Pixels</a
        >
      </div>
    </footer>
    <!-- END OF FOOTER ----------------------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="{% static 'js/cart.js' %}"></script>

    <script>
      const currentYear = new Date().getFullYear();
      const year = (document.getElementById(
        "footer-year"
      ).innerHTML = `&#169; Luku Store.nl ${currentYear}`);
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script>
      function toggleNavigation() {
        var navMenu = document.getElementById("navbarSupportedContent");
        var toggleButton = document.querySelector(".navbar-toggler");

        function updateNavDisplay() {
          if (window.innerWidth <= 768) {
            // Adjust the breakpoint if needed
            navMenu.style.display = "none";
          } else {
            navMenu.style.display = "block";
          }
        }

        updateNavDisplay(); // Initial call to set the correct display

        toggleButton.addEventListener("click", function () {
          if (navMenu.style.display === "none") {
            navMenu.style.display = "block";
          } else {
            navMenu.style.display = "none";
          }
        });

        // Listen for window resize to adjust navigation display
        window.addEventListener("resize", updateNavDisplay);
      }

      // Call the function to initialize the toggle
      toggleNavigation();
    </script>
  </body>
</html>
