{% extends 'base.html' %}{% load static %}{% block body %}{% load humanize %}
<main class="container-fluid mb-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <article class="col-sm-12 col-lg-8">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <div class="bg-secondary rounded fw-bold text-white px-3 h3 py-2">
                Products in shop
              </div>
            </thead>
            <tbody>
              {% for product in all_online_products %}
              <tr>
                <td>
                  <img
                    style="height: 50px; width: 50px; object-fit: cover"
                    src="{{ product.thumbnail.url }}"
                    class="img-fluid"
                  />
                </td>
                <td>
                  <a class="unlink" href="{{ product.get_url }}"
                    ><span>{{ product.item }} | </span>
                    <span>€{{ product.buying_price }}.00</span>
                    <br />
                  </a>
                  <span class="badge bg-secondary">ls0{{ product.pk }}</span>
                  <a
                    class="badge bg-secondary unlink hover text-white"
                    href="{% url 'edit_product' slug=product.slug %}"
                    >Edit</a
                  >
                </td>
                <td>
                  <img
                    style="height: 50px; width: 50px; object-fit: cover"
                    src="{{ product.brand.image.url }}"
                    class="img-fluid"
                  />
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center display-6 my-5 border-bottom pb-5 fw-bold">
      <i class="fas fa-table me-1"></i>
      LukuStore Estimate Product September 2023
      <i class="fas fa-table me-1"></i>
    </h1>
  </div>

  <section class="container">
    <div class="row">
      <div class="col-8">
        {% for photo in product_photos.all %}
        <h1>{{ photo.name }}</h1>
        <img
          src="{{ photo.image.url }}"
          alt=""
          height="100px"
          class="img-fluid"
        />
        {% endfor %}
      </div>
    </div>
  </section>
  <section
    class="table-responsive table"
    style="max-height: 550px; overflow-y: auto; overflow-x: auto"
  >
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <table
          class="table rounded-table table-responsive overflow-scroll border shadow table-striped-columns"
        >
          <thead
            style="
              top: 0;
              position: sticky;
              background-color: rgb(86, 130, 65);
              color: #fff;
            "
          >
            <tr>
              <th>Product Code</th>
              <th>Image</th>
              <th>Product Item</th>
              <th>Target</th>
              <th>Amount (F)</th>
              <th>Amount (T)</th>
              <th>Buying Price</th>
              <th>Selling Price</th>
              <th>Total Cost</th>
              <th>Status</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tfoot
            style="
              bottom: 0;
              position: sticky;
              background-color: rgb(86, 130, 65);
              color: #fff;
            "
          >
            <tr>
              <th>Product Code</th>
              <th>Image</th>
              <th>product Item</th>
              <th class="text-white">Target</th>
              <th class="text-white">{{ total_pieces }}</th>
              <th>{{ total_amount_T }}</th>
              <th class="text-white">€{{ total_consigment }}</th>
              <th>Price 0</th>
              <th class="text-white">{{ grand_total_cost }}</th>
              <th class="text-white">Status</th>
              <th class="text-white">Delete</th>
            </tr>
          </tfoot>
          <tbody>
            {% for product in products %}
            <tr>
              <th class="col">#ls0{{ product.pk }}</th>
              <th>
                {% if product.thumbnail %}
                <img src="{{ product.thumbnail.url }}" height="150px" />
                {% else %}
                <img
                  src="{{ product.brand.image.url }}"
                  alt="{{ product.item }}'s Image"
                  class="img-fluid rounded bg-black"
                />
                {% endif %}
              </th>
              <th>
                <button
                  type="button"
                  class="view_product_btn"
                  href="{% url 'view_product' slug=product.slug %}"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal{{ product.id }}"
                >
                  {{ product.item }}</button
                ><br />
                <br />
                <span style="font-weight: 400; font-size: 0.9rem"
                  >Brand: {{ product.brand }}</span
                ><br />
                <span style="font-weight: 400; font-size: 0.9rem"
                  >Type: {{ product.type }}</span
                ><br />
                <span style="font-weight: 400; font-size: 0.9rem"
                  >Sizes: {{ product.size }}</span
                ><br />
                {% if product.priority %}
                <span
                  style="font-weight: 400; font-size: 0.9rem"
                  class="badge bg-success"
                  >Priority</span
                >
                {% else %}
                <span
                  style="font-weight: 400; font-size: 0.9rem"
                  class="badge bg-warning"
                  >Not a priority</span
                >
                {% endif %}
                <!-- View product Modal 2 Start -->
                <div
                  class="modal fade"
                  id="myModal{{ product.id }}"
                  tabindex="-1"
                  aria-labelledby="myModal{{ product.id }}Label1"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-center modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="myModal{{ product.id }}Label1"
                        >
                          {{ product.item }}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <div
                            class="row justify-content-center align-items-start"
                          >
                            <div class="col-sm-16 col-md-6">
                              {% if product.thumbnail %}
                              <img
                                src="{{ product.thumbnail.url }}"
                                class="img-fluid"
                                style="
                                  height: 75vh;
                                  width: auto;
                                  object-fit: cover;
                                "
                              />
                              {% else %}
                              <img
                                src="{{ product.brand.image.url }}"
                                alt="{{ product.item }}'s Image"
                                class="img-fluid rounded bg-z"
                              />
                              {% endif %}
                            </div>
                            <div class="col-sm-16 col-md-6">
                              <h5 class="mb-3">{{ product.item }}</h5>
                              <h6>Brand: {{ product.brand }}</h6>
                              <h6>Type: {{ product.type }}</h6>
                              <h6>Target: {{ product.target }}</h6>
                              <h6>Target: {{ product.target }}</h6>
                              <h6>Amount_F: {{ product.amount_f }}</h6>
                              <h6>Amount_T: {{ product.amount_t }}</h6>
                              <h6>
                                Buying Price: € {{ product.buying_price }}
                              </h6>
                              <h6>
                                Selling Price: {{ product.selling_price }}
                              </h6>
                              <h6>
                                Total Cost: Ksh {{ product.total_cost }}/=
                              </h6>
                              <h6>
                                Best Seller: {{ product.possible_best_seller }}
                              </h6>
                              <h6>Size: {{ product.size }}</h6>
                              <h6>Color: {{ product.color }}</h6>
                              {% if product.online %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-success mt-3"
                              >
                                Online
                              </h6>
                              {% else %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-danger mt-3"
                              >
                                Offline
                              </h6>
                              {% endif %} {% if product.priority %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-success"
                              >
                                Priority
                              </h6>
                              {% else %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-info"
                              >
                                Not a priority
                              </h6>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a
                          href="{% url 'edit_product' slug=product.slug %}"
                          class="btn btn-outline-dark me-2"
                          >Update</a
                        >
                        <button
                          type="button"
                          class="btn btn-dark"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- View product Modal 2 End -->
              </th>
              {% if product.target_display == 'M' %}
              <th>M</th>
              {% elif product.target_display == "F" %}
              <th>F</th>
              {% else %}
              <th>U</th>
              {% endif %}
              <th>{{ product.amount_f }}</th>
              <th>{{ product.amount_t }}</th>
              <th>€{{ product.buying_price }}</th>
              <th>{{ product.selling_price }}</th>
              <th>Ksh {{ product.total_cost|intcomma }}</th>
              {% if product.online %}
              <th class="badge bg-success rounded-pill">Online</th>
              {% else %}
              <th class="badge bg-danger rounded-pill">Offline</th>
              {% endif %}

              <!-- Delete product Start -->
              <th>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#delete{{ product.id}}"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </button>
                <!-- Delete button ends -->

                <!-- Modal - Delete product Modal Start -->
                <div
                  class="modal fade"
                  id="delete{{ product.id }}"
                  tabindex="-1"
                  aria-labelledby="myModal{{ product.id }}Label2"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="myModal{{ product.id }}Label2"
                        >
                          {{ product.item }} <br />
                          {{ product.type }}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          Are you sure you want to delete {{ product.item }}?
                        </p>
                      </div>
                      <div class="modal-footer">
                        <form
                          action="{% url 'delete_product' slug=product.slug %}"
                          method="POST"
                        >
                          {% csrf_token %}
                          <input
                            type="submit"
                            class="btn btn-danger"
                            value="delete"
                          />
                        </form>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal - Delete product Modal End -->
              </th>
              <!-- Delete product End -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <!-- Figures Section Start -->
  <section class="container">
    <h1 class="text-center display-6 my-5 fw-bold">
      <i class="fa-solid fa-chart-simple me-1"></i>
      Figures
      <i class="fa-solid fa-chart-simple me-1"></i>
    </h1>

    <div class="row d-flex justify-content-evenly align-items-center">
      <div class="row">
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total Pieces
              <span><h1 class="fw-bold display-4">{{ total_pieces }}</h1></span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total first consigment
              <span
                ><h1 class="fw-bold display-4">
                  € {{ total_consigment|intcomma }}
                </h1></span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total first consigment (Ksh)
              <span
                ><h1 class="fw-bold display-4">
                  {{ grand_total_cost|intcomma }}
                </h1></span
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total first consigment (Ksh)
              <span
                ><h1 class="display-4 fw-bold">
                  € {{ euro_converted_total_consigment|intcomma }}
                </h1></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Charts container start -->
  <section class="container">
    <div class="row gy-5">
      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-primary text-center">
            <i class="fas fa-chart-area me-1"></i>
            Possible Best Seller
          </div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="50"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-primary text-center">
            <i class="fas fa-chart-bar me-1"></i>
            Possible Best Seller
          </div>
          <div class="card-body">
            <canvas
              id="possibleBestSellerChart"
              width="100%"
              height="50"
            ></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-danger text-center">
            <i class="fas fa-chart-bar me-1"></i>
            Possible Less Seller
          </div>
          <div class="card-body">
            <canvas
              id="possibleLessSellerChart"
              width="100%"
              height="50"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-danger text-center">
            <i class="fas fa-chart-bar me-1"></i>
            Possible Less Seller
          </div>
          <div class="card-body">
            <canvas id="chartz" width="100%" height="50"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Charts container End -->

  <!-- Spectra Talks Signup Start -->
  <section class="container my-5">
    <div class="row gy-3 gx-2 align-items-start justify-content-center">
      <article class="col-sm-12 col-lg-6">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <div class="bg-dark rounded fw-bold text-white px-3 py-2">
                {{ num_spectra_talks_signups }} Spectra Talks with Luku Store.nl
                & WhoWhatWhereKE Signups
              </div>
            </thead>
            <tbody>
              {% for signup in spectra_talks_signups %}
              <tr>
                {% if signup.consent %}
                <th scope="row">
                  <div class="badge bg-black shadow">
                    {{ signup.ticket_number }}
                  </div>
                </th>
                {% else %}
                <th scope="row">
                  <div class="badge bg-secondary shadow">
                    {{ signup.ticket_number }}
                  </div>
                </th>
                {% endif %}
                <td>{{ signup.full_name }}</td>
                <td>{{ signup.email }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </article>
      <!-- Spectra Talks Signup End -->

      <!-- Amapiano Signups Start -->
      <article class="col-sm-12 col-lg-6">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <div class="bg-dark rounded fw-bold text-white px-3 py-2">
                Amapiano Signups
              </div>
            </thead>
            <tbody>
              {% for signup in amapiano_signups %}
              <tr>
                {% if signup.consent %}
                <th scope="row">
                  <div class="badge bg-black shadow">
                    {{ signup.ticket_number }}
                  </div>
                </th>
                {% else %}
                <th scope="row">
                  <div class="badge bg-secondary shadow">
                    {{ signup.ticket_number }}
                  </div>
                </th>
                {% endif %}
                <td>{{ signup.full_name }}</td>
                <td>{{ signup.email }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </section>
  <!-- Amapiano Signups End -->

  <!-- Blog Posts Start -->
  <section class="container my-5">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <h1 class="text-center mb-3">Blog Posts</h1>
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th scope="col">Cover</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            {% for blog in blog_posts %}
            <tr>
              <td>
                <img
                  style="height: 50px; width: 50px; object-fit: cover"
                  src="{{ blog.cover_image.url }}"
                  class="img-fluid"
                />
              </td>
              <td>
                <a class="unlink" href="{{ blog.get_tag_url }}"
                  >{{ blog.title }}</a
                >
                <br />
                {% if blog.is_published %}
                <span class="badge bg-success">Published</span>
                {% else %}
                <span class="badge bg-danger">Not published</span>
                {% endif %}
              </td>
              <td>{{ blog.category }}</td>
              <td>{{ blog.author }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
<!-- Blog Posts End -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/dashboard/chart-area.js' %}"></script>
<script src="{% static 'js/dashboard/chart-bar.js' %}"></script>
<script src="{% static 'js/dashboard/chartz.js' %}"></script>
{% endblock %}
