{% extends 'base.html' %}{% load static %}{% block body %}{% load humanize %}
<main class="container-fluid mb-5">
  <div class="row">
    <h1 class="text-center display-6 my-5 border-bottom pb-5 fw-bold">
      <i class="fas fa-table me-1"></i>
      LukuStore Estimate Stock September 2023
      <i class="fas fa-table me-1"></i>
    </h1>
    <div class="text-center my-3">
      <a href="{% url 'add_stock_photo' %}" class="btn btn-outline-success"
        >Add Stock Photos</a
      >
    </div>
  </div>

  <section class="container">
    <div class="row">
      <div class="col-8">
        {% for photo in stock_photos.all %}
        <h1>{{ photo.name }}</h1>
        <img
          src="{{ photo.image.url }}"
          alt=""
          height="100px"
          class="img-fluid"
        />
        {% endfor %}
      </div>
    </div>
  </section>
  <section
    class="table-responsive table"
    style="max-height: 550px; overflow-y: auto; overflow-x: auto"
  >
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <table
          class="table rounded-table table-responsive overflow-scroll border shadow table-striped-columns"
        >
          <thead
            style="
              top: 0;
              position: sticky;
              background-color: rgb(86, 130, 65);
              color: #fff;
            "
          >
            <tr>
              <th>Product Code</th>
              <th>Image</th>
              <th>Stock Item</th>
              <th>Target</th>
              <th>Amount (F)</th>
              <th>Amount (T)</th>
              <th>Buying Price</th>
              <th>Selling Price</th>
              <th>Total Cost</th>
              <th>Status</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tfoot
            style="
              bottom: 0;
              position: sticky;
              background-color: rgb(86, 130, 65);
              color: #fff;
            "
          >
            <tr>
              <th>Product Code</th>
              <th>Image</th>
              <th>Stock Item</th>
              <th class="text-white">Target</th>
              <th class="text-white">{{ total_pieces }}</th>
              <th>{{ total_amount_T }}</th>
              <th class="text-white">€{{ total_consigment }}</th>
              <th>Price 0</th>
              <th class="text-white">{{ grand_total_cost }}</th>
              <th class="text-white">Status</th>
              <th class="text-white">Delete</th>
            </tr>
          </tfoot>
          <tbody>
            {% for stock in stocks %}
            <tr>
              <th class="col">#ls0{{ stock.pk }}</th>
              <th>
                {% if stock.thumbnail %}
                <img src="{{ stock.thumbnail.url }}" height="150px" />
                {% else %}
                <img
                  src="{{ stock.brand.image.url }}"
                  alt="{{ stock.item }}'s Image"
                  class="img-fluid rounded bg-black"
                />
                {% endif %}
              </th>
              <th>
                <button
                  type="button"
                  class="view_stock_btn"
                  href="{% url 'view_stock' slug=stock.slug %}"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal{{ stock.id }}"
                >
                  {{ stock.item }}</button
                ><br />
                <br />
                <span style="font-weight: 400; font-size: 0.9rem"
                  >Brand: {{ stock.brand }}</span
                ><br />
                <span style="font-weight: 400; font-size: 0.9rem"
                  >Type: {{ stock.type }}</span
                ><br />
                <span style="font-weight: 400; font-size: 0.9rem"
                  >Sizes: {{ stock.size }}</span
                ><br />
                {% if stock.priority %}
                <span
                  style="font-weight: 400; font-size: 0.9rem"
                  class="badge bg-success"
                  >Priority</span
                >
                {% else %}
                <span
                  style="font-weight: 400; font-size: 0.9rem"
                  class="badge bg-warning"
                  >Not a priority</span
                >
                {% endif %}
                <!-- View Stock Modal 2 Start -->
                <div
                  class="modal fade"
                  id="myModal{{ stock.id }}"
                  tabindex="-1"
                  aria-labelledby="myModal{{ stock.id }}Label1"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-center modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="myModal{{ stock.id }}Label1"
                        >
                          {{ stock.item }}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <div
                            class="row justify-content-center align-items-start"
                          >
                            <div class="col-sm-16 col-md-6">
                              {% if stock.thumbnail %}
                              <img
                                src="{{ stock.thumbnail.url }}"
                                class="img-fluid"
                                style="
                                  height: 75vh;
                                  width: auto;
                                  object-fit: cover;
                                "
                              />
                              {% else %}
                              <img
                                src="{{ stock.brand.image.url }}"
                                alt="{{ stock.item }}'s Image"
                                class="img-fluid rounded bg-z"
                              />
                              {% endif %}
                            </div>
                            <div class="col-sm-16 col-md-6">
                              <h5 class="mb-3">{{ stock.item }}</h5>
                              <h6>Brand: {{ stock.brand }}</h6>
                              <h6>Type: {{ stock.type }}</h6>
                              <h6>Target: {{ stock.target }}</h6>
                              <h6>Target: {{ stock.target }}</h6>
                              <h6>Amount_F: {{ stock.amount_f }}</h6>
                              <h6>Amount_T: {{ stock.amount_t }}</h6>
                              <h6>Buying Price: € {{ stock.buying_price }}</h6>
                              <h6>Selling Price: {{ stock.selling_price }}</h6>
                              <h6>Total Cost: Ksh {{ stock.total_cost }}/=</h6>
                              <h6>
                                Best Seller: {{ stock.possible_best_seller }}
                              </h6>
                              <h6>Size: {{ stock.size }}</h6>
                              <h6>Color: {{ stock.color }}</h6>
                              {% if stock.online %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-success mt-3"
                              >
                                Online
                              </h6>
                              {% else %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-danger mt-3"
                              >
                                Offline
                              </h6>
                              {% endif %} {% if stock.priority %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-success"
                              >
                                Priority
                              </h6>
                              {% else %}
                              <h6
                                style="font-weight: 400; font-size: 0.9rem"
                                class="badge bg-info"
                              >
                                Not a priority
                              </h6>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a
                          href="{% url 'edit_stock' slug=stock.slug %}"
                          class="btn btn-outline-dark me-2"
                          >Update</a
                        >
                        <button
                          type="button"
                          class="btn btn-dark"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- View Stock Modal 2 End -->
              </th>
              {% if stock.target_display == 'M' %}
              <th>M</th>
              {% elif stock.target_display == "F" %}
              <th>F</th>
              {% else %}
              <th>U</th>
              {% endif %}
              <th>{{ stock.amount_f }}</th>
              <th>{{ stock.amount_t }}</th>
              <th>€{{ stock.buying_price }}</th>
              <th>{{ stock.selling_price }}</th>
              <th>Ksh {{ stock.total_cost|intcomma }}</th>
              {% if stock.online %}
              <th class="badge bg-success rounded-pill">Online</th>
              {% else %}
              <th class="badge bg-danger rounded-pill">Offline</th>
              {% endif %}

              <!-- Delete Stock Start -->
              <th>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#delete{{ stock.id}}"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </button>
                <!-- Delete button ends -->

                <!-- Modal - Delete Stock Modal Start -->
                <div
                  class="modal fade"
                  id="delete{{ stock.id }}"
                  tabindex="-1"
                  aria-labelledby="myModal{{ stock.id }}Label2"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="myModal{{ stock.id }}Label2"
                        >
                          {{ stock.item }} <br />
                          {{ stock.type }}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete {{ stock.item }}?</p>
                      </div>
                      <div class="modal-footer">
                        <form
                          action="{% url 'delete_stock' slug=stock.slug %}"
                          method="POST"
                        >
                          {% csrf_token %}
                          <input
                            type="submit"
                            class="btn btn-danger"
                            value="delete"
                          />
                        </form>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal - Delete Stock Modal End -->
              </th>
              <!-- Delete Stock End -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <!-- Figures Section Start -->
  <section class="container">
    <h1 class="text-center display-6 my-5 fw-bold">
      <i class="fa-solid fa-chart-simple me-1"></i>
      Figures
      <i class="fa-solid fa-chart-simple me-1"></i>
    </h1>

    <div class="row d-flex justify-content-evenly align-items-center">
      <div class="row">
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total Pieces
              <span><h1 class="fw-bold display-4">{{ total_pieces }}</h1></span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total first consigment
              <span
                ><h1 class="fw-bold display-4">
                  € {{ total_consigment|intcomma }}
                </h1></span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total first consigment (Ksh)
              <span
                ><h1 class="fw-bold display-4">
                  {{ grand_total_cost|intcomma }}
                </h1></span
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card invert-hover shadow mb-4">
            <div class="card-body">
              Total first consigment (Ksh)
              <span
                ><h1 class="display-4 fw-bold">
                  € {{ euro_converted_total_consigment|intcomma }}
                </h1></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Charts container start -->
  <section class="container">
    <div class="row gy-5">
      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-primary text-center">
            <i class="fas fa-chart-area me-1"></i>
            Possible Best Seller
          </div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="50"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-primary text-center">
            <i class="fas fa-chart-bar me-1"></i>
            Possible Best Seller
          </div>
          <div class="card-body">
            <canvas
              id="possibleBestSellerChart"
              width="100%"
              height="50"
            ></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-danger text-center">
            <i class="fas fa-chart-bar me-1"></i>
            Possible Less Seller
          </div>
          <div class="card-body">
            <canvas
              id="possibleLessSellerChart"
              width="100%"
              height="50"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <div class="card-header text-danger text-center">
            <i class="fas fa-chart-bar me-1"></i>
            Possible Less Seller
          </div>
          <div class="card-body">
            <canvas id="chartz" width="100%" height="50"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Charts container End -->

  <!-- Spectra Talks Signup Start -->
  <section class="container my-5">
    <h1 class="text-center mb-3">
      Spectra Talks with Luku Store.nl & WhoWhatWhereKE Signups
    </h1>
    <div class="accordion" id="accordionSpectraTalksUnsubscribed">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Unsubscribed
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionSpectraTalksUnsubscribed"
        >
          <div class="accordion-body">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Ticket#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subscribed</th>
                </tr>
              </thead>
              {% for signup in amapiano_signups %}
              <tbody>
                {% if signup.consent %}
                <div class="hidden"></div>
                {% else %}
                <tr>
                  <th scope="row">{{ signup.ticket_number }}</th>
                  <td>{{ signup.first_name }}</td>
                  <td>{{ signup.last_name }}</td>
                  <td>{{ signup.email }}</td>
                  {% if signup.consent %}
                  <td>
                    <span class="badge bg-success">Subscribed</span>
                  </td>
                  {% else %}
                  <td>
                    <span class="badge bg-danger">Not subscribed</span>
                  </td>
                  {% endif %}
                </tr>
                {% endif %}
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Subscribed
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionSpectraTalks"
        >
          <div class="accordion-body">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Ticket#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subscribed</th>
                </tr>
              </thead>
              {% for signup in amapiano_signups %}
              <tbody>
                {% if signup.consent %}
                <tr>
                  <th scope="row">{{ signup.ticket_number }}</th>
                  <td>{{ signup.first_name }}</td>
                  <td>{{ signup.last_name }}</td>
                  <td>{{ signup.email }}</td>
                  {% if signup.consent %}
                  <td>
                    <span class="badge bg-success">Subscribed</span>
                  </td>
                  {% else %}
                  <td>
                    <span class="badge bg-danger">Not subscribed</span>
                  </td>
                  {% endif %}
                </tr>
                {% endif %}
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            All
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionSpectraTalks"
        >
          <div class="accordion-body">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Ticket#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subscribed</th>
                </tr>
              </thead>
              <tbody>
                {% for signup in amapiano_signups %}
                <tr>
                  <th scope="row">{{ signup.ticket_number }}</th>
                  <td>{{ signup.first_name }}</td>
                  <td>{{ signup.last_name }}</td>
                  <td>{{ signup.email }}</td>
                  {% if signup.consent %}
                  <td>
                    <span class="badge bg-success">Subscribed</span>
                  </td>
                  {% else %}
                  <td>
                    <span class="badge bg-danger">Not subscribed</span>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Spectra Talks Signup End -->

  <!-- Amapiano Signups Start -->
  <section class="container my-5">
    <h1 class="text-center mb-3">Amapiano Signups</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Unsubscribed
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Ticket#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subscribed</th>
                </tr>
              </thead>
              {% for signup in amapiano_signups %}
              <tbody>
                {% if signup.consent %}
                <div class="hidden"></div>
                {% else %}
                <tr>
                  <th scope="row">{{ signup.ticket_number }}</th>
                  <td>{{ signup.first_name }}</td>
                  <td>{{ signup.last_name }}</td>
                  <td>{{ signup.email }}</td>
                  {% if signup.consent %}
                  <td>
                    <span class="badge bg-success">Subscribed</span>
                  </td>
                  {% else %}
                  <td>
                    <span class="badge bg-danger">Not subscribed</span>
                  </td>
                  {% endif %}
                </tr>
                {% endif %}
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Subscribed
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Ticket#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subscribed</th>
                </tr>
              </thead>
              {% for signup in amapiano_signups %}
              <tbody>
                {% if signup.consent %}
                <tr>
                  <th scope="row">{{ signup.ticket_number }}</th>
                  <td>{{ signup.first_name }}</td>
                  <td>{{ signup.last_name }}</td>
                  <td>{{ signup.email }}</td>
                  {% if signup.consent %}
                  <td>
                    <span class="badge bg-success">Subscribed</span>
                  </td>
                  {% else %}
                  <td>
                    <span class="badge bg-danger">Not subscribed</span>
                  </td>
                  {% endif %}
                </tr>
                {% endif %}
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            All
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Ticket#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subscribed</th>
                </tr>
              </thead>
              <tbody>
                {% for signup in amapiano_signups %}
                <tr>
                  <th scope="row">{{ signup.ticket_number }}</th>
                  <td>{{ signup.first_name }}</td>
                  <td>{{ signup.last_name }}</td>
                  <td>{{ signup.email }}</td>
                  {% if signup.consent %}
                  <td>
                    <span class="badge bg-success">Subscribed</span>
                  </td>
                  {% else %}
                  <td>
                    <span class="badge bg-danger">Not subscribed</span>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Amapiano Signups End -->

  <!-- Blog Posts Start -->
  <section class="container my-5">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <h1 class="text-center mb-3">Blog Posts</h1>
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th scope="col">Cover</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            {% for blog in blog_posts %}
            <tr>
              <td>
                <img
                  style="height: 50px; width: 50px; object-fit: cover"
                  src="{{ blog.cover_image.url }}"
                  class="img-fluid"
                />
              </td>
              <td>
                <a class="unlink" href="{{ blog.get_url }}">{{ blog.title }}</a>
                <br />
                {% if blog.is_published %}
                <span class="badge bg-success">Published</span>
                {% else %}
                <span class="badge bg-danger">Not published</span>
                {% endif %}
              </td>
              <td>{{ blog.category }}</td>
              <td>{{ blog.author }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
<!-- Blog Posts End -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/dashboard/chart-area.js' %}"></script>
<script src="{% static 'js/dashboard/chart-bar.js' %}"></script>
<script src="{% static 'js/dashboard/chartz.js' %}"></script>
{% endblock %}
