{% extends 'base.html' %}{% load static %} {% block body %}
<main class="container-fluid px-0">
  <!-- Main carousel -->
  {% include 'homepage/main_carousel.html' %}

  <!-- Nairobi Nnoize Drop -->
  {% include 'homepage/nairobi_nnoize_drop.html' %}

  <!-- Category -->
  {% include 'homepage/category.html' %}

  <!-- Definition -->
  {% include 'homepage/definition.html' %}

  <!-- Peni Mbili - White Top -->
  {% include 'homepage/peni_mbili_video.html' %}

  <!-- Spectra Talks -->
  {% include 'homepage/spectra_talks.html' %}

  <!-- Lukubook Inspiration -->
  {% include 'homepage/lukubook_inspiration.html' %}

  <!-- Blog -->
  {% include 'homepage/blog.html' %}

  <!-- DJ G400 -->
  {% include 'homepage/djg400.html' %}

  <!-- Footer Carousel -->
  {% include 'homepage/footer_carousel.html' %}
</main>
{% endblock %}
