{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-lg-6 col-sm-12 col-md-6">
      <img class="mb-4 img-fluid rounded" src="{{ mix.image.url }}" />
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
      <h1 class="mb-4">{{ mix.title}}</h1>
      <div class="mb-4">
        <audio id="song">
          <source src="{{ mix.stream_link }}" />
          Your browser does not support the audio element.
        </audio>
        <div class="display-5 mb-3 hover" onclick="playPause()">
          <i class="fa-solid fa-play text-black" id="controlIcon"></i>
        </div>
        <input class="mb-5" type="range" value="0" id="mix_progress_bar" />
        <br />
        <small
          >Genre: {{ mix.genre }} <br />
          Featured Artists: {{ mix.featured_artists|safe|truncatewords:65 }}
          <br />
        </small>
      </div>
    </div>
  </div>
</div>

<script>
  // Get a reference to the audio element
  var progress = document.getElementById("mix_progress_bar");
  var song = document.getElementById("song");
  var controlIcon = document.getElementById("controlIcon");

  song.onloadedmetadata = function () {
    progress.max = song.duration;
    progress.value = song.currentTime;
  };

  function playPause() {
    if (song.paused) {
      song.play();
      controlIcon.classList.add("fa-pause");
      controlIcon.classList.remove("fa-play");
    } else {
      song.pause();
      controlIcon.classList.remove("fa-pause");
      controlIcon.classList.add("fa-play");
    }
  }

  if (song.play) {
    setInterval(() => {
      progress.value = song.currentTime;
    }, 500);
  }

  progress.onchange = function () {
    song.currentTime = progress.value;
    controlIcon.classList.add("fa-pause");
    controlIcon.classList.remove("fa-play");
  };
</script>

{% endblock %}
