{% extends 'base.html' %}{% load static %}{% block body %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a class="underline" href="{% url 'index' %}"
            ><i class="fa fa-home"></i> Home</a
          >
          /
          <span class="text-dark">Shop</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product List Start -->
<div class="container my-5">
  <div
    class="row row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center"
  >
    {% for stock in stocks %} {% if stock.online %}
    <!--  -->
    <div class="col-sm-6 mb-5 col-md-4 col-lg-3">
      {% if stock.image_original_size %}
      <img
        src="{{ stock.image_original_size.url }}"
        alt="{{ stock.name }}"
        class="img-fluid mb-2 rounded bg-black"
      />
      {% else %}
      <img src="" alt="{{ stock.item }}' Image" class="img-fluid bg-black" />
      {% endif %}
      <h5 class="fw-bold mt-1">{{ stock.item }}</h5>
      <h6 class="mt-2">€ {{ stock.buying_price }}.00</h6>
      <small>Brand: {{ stock.brand }}</small><br />
      <!-- Size Start -->
      <div class="col">
        {% if stock.size == 's' %}
        <small>Size: S</small>
        {% elif stock.size == 'm' %}
        <small>Size: M</small>
        {% elif stock.size == 'l' %}
        <small>Size: L</small>
        {% elif stock.size == 'xl' %}
        <small>Size: XL</small>
        {% else %}
        <small>Size: XXL</small>
        {% endif %}
      </div>
      <!-- Size End -->
      <hr />
      <!-- Cart and View Buttons Start -->
      <button class="btn btn-dark my-2">Add to Cart</button>
      <button class="btn btn-outline-dark">View</button>
      <!-- Cart and View Buttons End -->
    </div>
    {% endif %} {% endfor %} {% for product in products %}
    <!--  -->
    <div class="col-sm-6 mb-5 col-md-4 col-lg-3">
      <a
        href="{% url 'view_product' slug=product.slug %}"
        class="underline hover"
      >
        <img
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
          class="img-fluid mb-2 rounded bg-light"
        />
        <h5 class="fw-bold mt-1">
          {{ product.name }}
          <span class="float-end">€ {{ product.price }}</span>
        </h5></a
      >
      <small>Brand: {{ product.brand }}</small><br />
      <!-- Size Start -->
      <div class="col">
        {% if product.size == 's' %}
        <small>Size: S</small>
        {% elif product.size == 'm' %}
        <small>Size: M</small>
        {% elif product.size == 'l' %}
        <small>Size: L</small>
        {% elif product.size == 'xl' %}
        <small>Size: XL</small>
        {% else %}
        <small>Size: XXL</small>
        {% endif %}
      </div>
      <!-- Size End -->
      <hr />
      <!-- Cart and View Buttons Start -->
      <button
        data-product="{{ product.product_code }}"
        data-action="add"
        class="btn btn-dark my-2 add-btn update-cart"
      >
        Add to Card
      </button>

      <a
        href="{% url 'view_product' slug=product.slug %}"
        class="btn btn-outline-dark"
        >View</a
      >
      <!-- Cart and View Buttons End -->
    </div>
    {% endfor %}
  </div>
</div>
<!-- Stock List End -->
{% endblock %}
