{% extends 'base.html' %}{% block body %}
<main class="container-fluid">
  <!-- Breadcrumb Begin -->
  <nav class="container-fluid-scroll pb-3">
    <div class="scrolling-wrapper">
      <a
        class="btn {% if active_brand == brand.name %}active{% endif %} brand-btn btn-outline-dark me-2"
        style="text-decoration: none"
        href="{% url 'shop' %}"
      >
        All
      </a>
      {% for brand in sorted_brands %}
      <a
        class="btn {% if active_brand == brand.name %}active{% endif %} brand-btn btn-outline-dark me-2"
        style="text-decoration: none"
        href="{% url 'shop' %}?brand={{ brand.name }}"
        >{{ brand.name }}</a
      >
      {% endfor %}
    </div>
  </nav>
  <!-- Breadcrumb End -->

  <!-- Product List Start -->
  <section class="container">
    <div
      class="row row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center"
    >
      {% for stock in stocks %} {% if stock.online %}
      <article class="col-sm-6 mb-5 col-md-4 col-lg-3">
        <figure class="figure-card">
          <img src="{{ stock.thumbnail.url }}" class="img-fluid rounded" />
          <figcaption style="font-size: 1rem">{{ stock.item }}</figcaption>
        </figure>
        <div class="footer">
          <h5 class="fw-bold mt-1">{{ stock.item }}</h5>
          <h6 class="mt-2">€ {{ stock.buying_price }}.00</h6>
          <small>Brand: {{ stock.brand }}</small><br />
          <!-- Size Start -->
          <div class="col">
            {% if stock.size == 's' %}
            <small>Size: S</small>
            {% elif stock.size == 'm' %}
            <small>Size: M</small>
            {% elif stock.size == 'l' %}
            <small>Size: L</small>
            {% elif stock.size == 'xl' %}
            <small>Size: XL</small>
            {% else %}
            <small>Size: XXL</small>
            {% endif %}
          </div>
          <!-- Size End -->
          <hr />
          <!-- Cart and View Buttons Start -->
          <button class="btn btn-dark my-2">Add to Cart</button>
          <a href="{{ stock.get_url }}" class="btn btn-outline-dark">View</a>
          <!-- Cart and View Buttons End -->
        </div>
      </article>
      {% endif %} {% endfor %}
    </div>
  </section>
  <!-- Product List End -->
</main>
{% endblock %}
