{% extends 'base.html' %} {% block body %}
<main class="container-xxl">
  <section class="container">
    <article class="row justify-content-center align-items-start">
      <aside class="col-sm-12 col-md-6 col-lg-6">
        <img
          src="{{ product.image_original_size.url }}"
          alt="{{ product.item }}'s name"
          id="productImg"
          class="rounded"
          loading="eager"
        />
        {% if other_images %}
        <div class="d-flex justify-content-center my-3">
          {% for photo in other_images %}
          <img
            style="object-fit: cover"
            width="60"
            height="60"
            class="small-img mx-1"
            loading="lazy"
            src="{{ photo.url }}"
          />
          {% endfor %}
        </div>
        {% endif %}
      </aside>
      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="ps-lg-3">
          <h2 class="text-dark">{{ product.item }}</h2>
          <div class="rating">
            {% if product.rating == 1 %}
            <i class="fa fa-star"></i>
            {% elif product.rating == 2 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif product.rating == 3 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif product.rating == 4 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% else %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% endif %}
          </div>
          <p class="my-3 text-dark">Brand: {{ product.brand }}</p>
          <h2 class="text-dark">€{{ product.buying_price }}.00</h2>
          <hr />
          <div class="col mt-3">
            <h6>Sizes Available:</h6>
            {% if product.size == 'Small' %}
            <p class="btn btn-dark">S</p>
            <p class="btn btn-outline-dark"><s>M</s></p>
            <p class="btn btn-outline-dark"><s>L</s></p>
            <p class="btn btn-outline-dark"><s>XL</s></p>
            <p class="btn btn-outline-dark"><s>XXL</s></p>
            {% elif product.size == 'Medium' %}
            <p class="btn btn-dark"><s>S</s></p>
            <p class="btn btn-outline-dark">M</p>
            <p class="btn btn-outline-dark"><s>L</s></p>
            <p class="btn btn-outline-dark"><s>XL</s></p>
            <p class="btn btn-outline-dark"><s>XXL</s></p>
            {% elif product.size == 'Large' %}
            <p class="btn btn-outline-dark"><s>S</s></p>
            <p class="btn btn-outline-dark"><s>M</s></p>
            <p class="btn btn-dark">L</p>
            <p class="btn btn-outline-dark"><s>XL</s></p>
            <p class="btn btn-outline-dark"><s>XXL</s></p>
            {% elif product.size == 'XL' %}
            <p class="btn btn-outline-dark"><s>S</s></p>
            <p class="btn btn-outline-dark"><s>M</s></p>
            <p class="btn btn-outline-dark"><s>L</s></p>
            <p class="btn btn-dark">XL</p>
            <p class="btn btn-dark"><s>XXL</s></p>
            {% else %}
            <p class="btn btn-outline-dark"><s>S</s></p>
            <p class="btn btn-outline-dark"><s>M</s></p>
            <p class="btn btn-outline-dark"><s>L</s></p>
            <p class="btn btn-outline-dark"><s>XL</s></p>
            <p class="btn btn-dark">XXL</p>
            {% endif %}
          </div>
          <button
            class="btn btn-dark btn-lg update-cart my-3 w-100"
            data-product="ls0{{ product.product_code }}"
            data-action="add"
          >
            Add to cart <i class="ms-1 fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </section>
    </article>
  </section>
  <section class="container">
    <article class="border-top py-4">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item w-auto">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button text-dark"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Read more about the product
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">{{ product.description }}</div>
          </div>
        </div>
        {% if user.is_authenticated %}
        <div class="hidden"></div>
        {% else %}
        <div class="accordion-item w-auto">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button text-dark"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Shipping Info
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse show"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Create an account with us by clicking
              <a class="text-dark" href="{% url 'register' %}">here.</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </article>
  </section>
  <section class="container">
    <h3 class="text-center my-5">Shop similar items</h3>
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-start"
    >
      {% for stock in photos|slice:":3" %}
      <article class="col-sm-6 mb-5 col-md-4 col-lg-3">
        <figure class="figure-card">
          <img src="{{ stock.thumbnail.url }}" class="img-fluid rounded" />
          <figcaption style="font-size: 1rem" class="text-center">
            <a href="{{ stock.get_url }}" class="btn btn-outline-light w-50"
              >View</a
            >
          </figcaption>
        </figure>
        <div class="footer border-bottom pb-3">
          <h6 class="mt-1">{{ stock.item }}</h6>
          <h5 class="fw-bold mt-2">€ {{ stock.buying_price }}.00</h5>
          <small>Brand: {{ stock.brand }}</small><br />
          <!-- Size Start -->
          <div class="col">
            {% if stock.size == 's' %}
            <small>Size: S</small>
            {% elif stock.size == 'm' %}
            <small>Size: M</small>
            {% elif stock.size == 'l' %}
            <small>Size: L</small>
            {% elif stock.size == 'xl' %}
            <small>Size: XL</small>
            {% else %}
            <small>Size: XXL</small>
            {% endif %}
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </section>
</main>

<script>
  var productImg = document.getElementById("productImg");
  var smallImg = document.getElementsByClassName("small-img");

  smallImg[0].onclick = function () {
    productImg.src = smallImg[0].src;
  };
  smallImg[1].onclick = function () {
    productImg.src = smallImg[1].src;
  };
  smallImg[2].onclick = function () {
    productImg.src = smallImg[2].src;
  };
  smallImg[3].onclick = function () {
    productImg.src = smallImg[3].src;
  };
  smallImg[4].onclick = function () {
    productImg.src = smallImg[4].src;
  };
  smallImg[5].onclick = function () {
    productImg.src = smallImg[5].src;
  };
  smallImg[6].onclick = function () {
    productImg.src = smallImg[6].src;
  };
  smallImg[7].onclick = function () {
    productImg.src = smallImg[7].src;
  };
  smallImg[8].onclick = function () {
    productImg.src = smallImg[8].src;
  };
  smallImg[9].onclick = function () {
    productImg.src = smallImg[9].src;
  };
</script>
{% endblock %}
